{% extends "layout.html.twig" %}

{% block title %}Détail d'un terrain{% endblock %}

{% block content %}

    <div style="margin-top: 5%">
        <h2 class="text-center">{{ block('title') }}</h2>
    </div>

    <div>

    </div>
{% endblock %}