{% extends 'layout.html.twig' %}

{% block meta  %}
        
        <meta name="description" content="Elastic Image Slideshow with Thumbnail Preview" />
        <meta name="keywords" content="jquery, css3, responsive, image, slider, slideshow, thumbnails, preview, elastic" />
        <meta name="author" content="Codrops" />
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' /
        <link href="default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="web/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="web/js/jquery.glide.min.js"></script>
        
		<noscript>
			<link rel="stylesheet" type="text/css" href="css/noscript.css" />
		</noscript>
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div style="margin-top: 5%" >
    <h1>
        <strong>Aide mémoire Alternance chez GL-Events</strong>
    </h1>
    <h1>
        <strong>Base de connaissance</strong>
    </h1>
    <div >
        <p style="text-align: center">
        Ce site fait à l'aide de silex, un framework PHP permettant une meilleure gestion de la base de connaissance, il permettra d'avoir un aide mémoire sur Différente plateforme :
        </p>
        <div class="row">
               <div class="col-sm-6" >
                    <ul style="padding-left: 35%; list-style-type: square" >
                        
                        <li>
                            GIT
                        </li>
                        <li>
                            Drupal
                        </li>
                        <li>
                            Processus mise en place projet GL-Events
                        </li>
                        <li>
                            Docker
                        </li>
                        <li>
                            Base de connaissance probléme avec solution
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>


  {% endblock %}

   


